## arduino
KERNEL=="ttyAMA1", SYMLINK+="arduino"

## xbee
# RP4
SUBSYSTEMS=="usb", ATTRS{interface}=="FT231X USB UART", SYMLINK+="xbee"
# RP4 CM
KERNEL=="ttyAMA2", SYMLINK+="xbee"

## gps
KERNEL=="ttyAMA3", SYMLINK+="gps0"
