[Unit]
Description=Jaia First Boot

ConditionFirstBoot=true
# Only run if preseeded
ConditionPathExists=/etc/jaiabot/init/first-boot.preseed

Before=first-boot-complete.target
Wants=first-boot-complete.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/jaiabot/init/first-boot.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
