[Unit]
Description=Script to read GPS data from SPI to a pty
Before=ntp.service
Before=gpsd.service
After=network.target

[Service]
Type=notify
User=root
ExecStart=/usr/bin/gps-spi-pty.py /dev/gps0

[Install]
RequiredBy=gpsd.service
