[Unit]
Description=Script to pipe GPS data from I2C to a fifo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=never
User=root
ExecStart=/usr/bin/gps-i2c-pipe.py /dev/gps0

[Install]
RequiredBy=gpsd.target
