[Unit]
Description=Script to read GPS data from I2C to a pty
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=never
User=root
ExecStart=/usr/bin/gps-i2c-pty.py /dev/gps0

[Install]
RequiredBy=gpsd.target
